@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}


.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}
.orange-pink-gradient {
  background: "#00cea8";
  background: -webkit-linear-gradient(-45.13deg, #fc6767 10.9%, #ec008c 77.5%);
}

.orange-text-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.rotate{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}
body{
  background-color: #301934;
}

.image-wrapper{
  -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik0zNi4xLC02Mi4xQzQ1LjEsLTU3LjUsNDkuMywtNDQuMiw1OC45LC0zMi40QzY4LjUsLTIwLjYsODMuNSwtMTAuMyw4OC40LDIuOEM5My4yLDE1LjksODcuOCwzMS43LDc2LDM5LjdDNjQuMiw0Ny43LDQ1LjksNDcuNywzMi4xLDUwLjlDMTguNCw1NC4xLDkuMiw2MC41LC0yLjcsNjUuMUMtMTQuNiw2OS44LC0yOS4yLDcyLjgsLTM4LjQsNjdDLTQ3LjYsNjEuMiwtNTEuNSw0Ni42LC01OC43LDM0Qy02NS45LDIxLjMsLTc2LjQsMTAuNywtNzUuMSwwLjhDLTczLjgsLTkuMSwtNjAuNiwtMTguMywtNTMuNiwtMzEuMkMtNDYuNiwtNDQuMSwtNDUuNywtNjAuOCwtMzcuNywtNjZDLTI5LjgsLTcxLjEsLTE0LjksLTY0LjgsLTAuNiwtNjMuN0MxMy42LC02Mi42LDI3LjIsLTY2LjcsMzYuMSwtNjIuMVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxMDApIiAvPgo8L3N2Zz4K);
  
}

.image{
  -webkit-mask-repeat: no-repeat;
}


.navbar{
  z-index: 9999;
}
